@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 348 100% 91%;
    --primary-foreground: 348 83% 47%;
    --secondary: 240 60% 96%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 20% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 67% 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 15% 90%;
    --input: 240 15% 90%;
    --ring: 348 83% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 348 70% 35%;
    --primary-foreground: 348 90% 95%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 10% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 348 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
